* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		 box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}

body {
    margin-right: 5%;
    margin-left: 5%;
    background: url('../images/pozadina.jpg');
	background-size: cover;
    background-position: center;
/*    background-repeat: space;*/
    background-attachment: inherit;
    background-color: black;
}

/*nav ul {
	list-style: none;
	text-align: center;
}

nav ul li {
	display: inline-block;
	padding: 20px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
}
nav ul li:hover {
	background: #000;
    text-decoration: none;
}
nav ul li a:hover {
	text-decoration: underline;
    color: #fff;
}*/


header {
    /*margin-right: 10%;*/
    /*margin-left: 10%;*/
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 100px;
    /*border-bottom-left-radius: 15px;*/
    border-bottom-right-radius: 10px; 
}


header span {
    display: inline-block;
}

/*
.logo-btn {
    float: left;
}
.search-btn {
    float: right;
}
*/

.nav-li-btn:hover {
	background: #ba000d;
}

input::placeholder {
  color: #fff;
}
input:placeholder-shown {
  border: 2px solid #E65100;
}

section {
	padding: 8em 0%;
	/*float: left;*/
	width: 100%;
    /*background-color: rgba(255,255,255,0.4);*/
    border-radius: 5px;
}

/*
section h2 {
	text-align: center;
	text-transform: uppercase;
	color: #455A64;
	font-size: 2em;
	margin-bottom: 2em;
}
*/

section h2 { 
    color: #B22222;
    font-family: 'Raleway',sans-serif; 
    font-size: 30px; 
    font-weight: 800; 
    line-height: 36px; 
    margin: 0 0 24px; 
    text-align: center;
    text-transform: uppercase;
}

section .column {
	width: 30%;
	float: left;
	text-align: center;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.75);
/*    background-color: #fff;*/
    color: black;
    margin: 5px;
    /*position: relative;*/
}
/*
section img {
    opacity: 0.2;
}
*/

section p {
	padding: 2em 1em;
	text-align: justify;
}
section a {
    text-decoration: none;
}
section a:hover div {
	box-shadow: 0px 0px 150px #000;
    text-decoration: none;
}

.listItemImg {
	position: static;
	width: 150px;
	height: 250px;
}

aside {
	float: left;
	display: inline-flex;
	padding: 0px 15px;
	height: 85%;
	background-color: #fff;
	width: 20%;
	/*height: 79%;*/
	margin-top: 100px;
	overflow: auto;
	/*height: 300px;*/
	position: fixed;
	opacity: .75;
}

aside ul {
	list-style-type: none;
}

main {
	padding-left: 20%;
}

.carousel {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
.carousel-item {
    width: 10%;
    height: 10%;
}
/*
div.slide {
    width: 700px;
    height: 400px;
    position: relative;
    border-radius: 5px;
}
*/
/*
img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    opacity: 0;
    transition: 1s;
}
.item.active {
    opacity: 1;
}
*/

footer {
	width: 100%;
	float: left;
	background: #607D8B;
	text-align: center;
	color: #fff;
	padding: 10px 0;
}

.senka {
    box-shadow: 0px 0px 30px #505050;
}

.primaryColorBackground {
	background: #F57C00;
}

.primaryColorText {
	color: #F57C00;
}

.lightColorBackground {
    background: #FFA726;
}

.lightColorText {
    color: #FFA726;
}
.darkColorBackground {
	background: #E65100;
}

.darkColorText {
	color: #E65100;
}

.columnCenter {
	text-align: center;
}

.nav-logo-img {
	border-radius: 30px;
}

.mobile_header {
	display: none;
	background: #455A64;
	text-align: center;
	color: #fff;
	padding: 20px;
}

/*.searchBtn {
	position: absolute; 
	width: calc(100% - 350px);
}*/

li {
	box-shadow: 0px 0px 25px #ABABAB;
}
input[type=checkbox] + label {
  /*color: #ccc;*/
  font-style: italic;
} 
input[type=checkbox]:checked + label {
  /*color: #f00;*/
  color: #E65100;
  /*background-color: #000;*/
  font-style: normal;
}
b.doc-count {
	border-radius: 15%;
	border-style: ridge;
	border-width: 2px;
	margin-left: 5px;
	padding: 2px;
	width: 10%;
	position: relative;
}

/*li {
	border: 1px solid rgba(100,100,200,.8);
	background-color: rgb(100,100,200);
	border-radius: 5%;
	margin: 1px;
}*/

@media screen and (max-width: 700px) {
	nav { position: initial; }
	header {display: none; }
	nav ul li {	width: 100%;}
	.mobile_header { display: block;	}
	section .column { width: 40%; margin: 5%; float: left;}
	aside {display: none;}
	.searchBtn { width: 100%; }
	.listItemImg { position: static; width: 75px; height: 125px; }
}